@model Server.RemoteMessage

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RemoteMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAlternateID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAlternateID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserOrganization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserOrganization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionRef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionRef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransactionInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsKit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsKit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conciliation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conciliation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnvelopeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvelopeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SealID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SealID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecutedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para Lista</a>
    </form>
</div>
