@model Server.Cliente

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientePai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientePai.Nome)
        </dd>
    </dl>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Equipamentos
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Equipamentos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            <a asp-controller="Equipamentos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-controller="Equipamentos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-controller="RemoteMessages" asp-action="Transacoes" asp-route-id="@item.Id">Transações</a> |
                            <a asp-controller="Equipamentos" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Clientes
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Clientes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-controller="Equipamentos" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-controller="Equipamentos" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |

                            <a asp-controller="Equipamentos" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
