@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Perfis";
}

<h1>Todos os Perfis</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Admin">Adicionar novo perfil</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <a asp-controller="Admin" asp-action="EditRole"
                       asp-route-id="@role.Id" class="btn btn-primary">
                        Editar
                    </a>

                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Deseja realmente excluir?</span>
                        <button type="submit" class="btn btn-danger">Sim</button>
                        <a href="#" class="btn btn-primary"
                           onclick="confirmDelete('@role.Id', false)">Não</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger"
                           onclick="confirmDelete('@role.Id', true)">Excluir</a>
                    </span>
                </form>

            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Ainda não foram criados perfis.
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use o botão abaixo para criar um novo perfil.
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Admin" asp-action="CreateRole">
                Criar Perfil
            </a>
        </div>
    </div>
}


@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}
